pandas==1.1.4
scipy==1.5.3
numpy==1.19.1
astropy==4.0.1.post1
wget==3.2
requests==2.24.0
tqdm==4.48.2
colorlog==4.2.1
emcee==3.0.2
pybtex==0.22.2
flex-format==0.2.1

git+https://github.com/AWehrhahn/flex-format.git
