pandas==1.4.0
scipy==1.7.3
numpy==1.22.1
astropy==5.0.1
wget==3.2
tqdm==4.62.3
colorlog==6.6.0
emcee==3.1.1
pybtex==0.24.0
flex-format==0.2.18
plotly==5.5.0
matplotlib==3.5.1
# Development Requirements
pre-commit==2.17.0
sphinx==4.4.0
pytest==6.2.5
requests==2.27.1
