pandas==1.4.4
scipy==1.9.1
numpy==1.23.2
astropy==5.1
wget==3.2
tqdm==4.64.0
colorlog==6.7.0
emcee==3.1.2
pybtex==0.24.0
flex-format==0.2.18
plotly==5.10.0
matplotlib==3.5.3
# Development Requirements
pre-commit==2.20.0
sphinx==5.1.1
pytest==7.1.2
requests==2.27.1
