# The requirements, without a version number, hopefully that works
pandas==1.3.5
scipy==1.7.3
numpy==1.22.0
astropy==5.0
wget==3.2
tqdm==4.62.3
colorlog==6.6.0
emcee
pybtex
flex-format
plotly
matplotlib
# Development Requirements
pre-commit
sphinx
pytest
requests
